<!--
 Isabel Zheng, Araf Hoque, Sean Takahashi, Haowen Xiao, Owen Zeng
 shiii_man
 SoftDev
 P04
 2026-04-20m
-->

{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<h1 class="col-md-9 mx-auto text-center fw-semibold">Home</h1>

<div class="mx-auto mb-4">
  <h2>Guide</h2>
  <p>
    This simulation shows the trends of party registration based on NYC election districts along with income data by ZIP code.
    For simplification, this intends to use selection of election districts to establish electoral districts.
    The ZIP code filter will show gradients based on median income reported, while the election districts will show gradients of concentration of party registration(Democrat, Republican)
  </p>
</div>

<div class="mx-auto mb-4">
  <h2>How to Play</h2>
  <p>
    By creating an account, you can play our simulation game. This simulation assumes a hypothetical 28 districts allocated to the city, and it is your job to map each district by election district to sway total seats towards one party.
    When logged in, you may save maps created and compare how many seats would hypothetically be obtained by each party between different gerrymandered maps.
  </p>
</div>

<div class="mx-auto" style="width: 100%; max-width: 1100px;">
  {{ map_html|safe }}
</div>

{% endblock %}
