<!--
  Isabel Zheng, Araf Hoque, Sean Takahashi, Haowen Xiao, Owen Zeng
  shiii_man
  SoftDev
  P04
  2026-04-20m
-->

{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

<h1 class="text-center pb-4">Welcome, <strong>{{ session["username"] }}</strong>!</h1>

<div class="col-md-9 mx-auto mb-4">
  <h2><strong>Stats</strong></h2>
</div>

<div class="col-md-9 mx-auto mb-4">
  <h5>Maps Created: {{total_maps}}</h5>
</div>

<div class="col-md-9 mx-auto mb-4">
  <h5>Total Wins: {{wins}}</h5>
</div>

{% for sm in saved_maps %}
<a href="{{ url_for('game_get') }}?map_id={{ sm.map_id }}"
   class="list-group-item list-group-item-action">
    <strong>{{ sm[1] }}</strong>
    <small class="text-muted ml-2">{{ sm[2][:10] }}</small>
</a>
{% endfor %}

{% endblock %}