<!--
  Isabel Zheng, Araf Hoque, Sean Takahashi, Haowen Xiao, Owen Zeng
  shiii_man
  SoftDev
  P04
  2026-04-22w
-->

{% extends "base.html" %}
{% block title %}Profile{% endblock %}
{% block content %}

<h1 class="text-center pb-4">Welcome, <strong>{{ session["username"] }}</strong>!</h1>

<div class="col-md-9 mx-auto mb-4">
  <h2><strong>Previous Maps</strong></h2>
</div>


{% for sm in saved_maps %}
<a href="/game?map_id={{ sm[0] }}" 
   class="list-group-item list-group-item-action py-2 px-3">
    <div class="d-flex w-100 justify-content-between align-items-center">
        <strong class="mb-1">{{ sm[1] }}</strong>
        <small class="text-muted">{{ sm[2][:10] }}</small>
    </div>
</a>
{% endfor %}

{% endblock %}